@font-face {
    font-family: 'IM Fell English SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('IM Fell English SC Regular'), local('IMFellEnglishSC-Regular'), url(/assets/fonts/IMFellEnglishSC-Regular.ttf) format("truetype");
}

:root{
    --color-main: #ff9e00;
    --color-text: #240046;
    --color-white: #dedede;
}

body{
    background-color: var(--color-white);
    color: var(--color-text);
    font-family: 'IM Fell English SC', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flag{
    width: 400px;
}

main{
    width: 1000px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0;
    img{
        width: 100%;
        object-fit: cover;
        height: 15rem;
    }
}

@media screen and (max-width: 1000px){
    main{
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
            height: 50%;
        }
    }
}
