---
layout: countries.njk
title: Sweden
---

<div>
    <p>Capital: {{sweden[0].capital}}</p>
    <p>Continent: {{sweden[0].region}}</p>
    <p>Population: {{sweden[0].population}}</p>
    <p>Time-zon: {{sweden[0].timezones}}</p>
    <p>Currency: {{sweden[0].currencies[0].name}}</p>
    <img src="{{sweden[0].flag}}" alt="" class="flag">
</div>